openapi: 3.0.0
info:
  title: V2 API
  version: '2.0'
  description: ''
  contact:
    email: anymarketdev@db1.com.br
    name: ANYMARKET Developers
    url: 'http://developers.anymarket.com.br/'
  x-logo:
    url: 'https://anymarket.com.br/wp-content/uploads/2018/07/icon-anymarket-300x300.png'
  x-preferred: true
  x-providerName: V2 API
servers:
  - url: 'http://sandbox-api.anymarket.com.br/v2'
    description: Sandbox
  - url: 'http://api.anymarket.com.br/v2'
    description: Produção
tags:
  - name: Callback
    description: Gerenciamento de callbacks
  - name: Campanhas
    description: Gerenciamento de Campanhas
  - name: Categorias
    description: Gerenciamento de categorias
  - name: Emissão de Etiquetas
    description: Gerenciamento de Emissão de Etiquetas
  - name: Estoque
    description: Gerenciamento de stock
  - name: Local de Estoque
    description: Gerenciamento de Locais de Estoque
  - name: Feed pedido
    description: Gerenciamento de feed de pedidos
  - name: Feed produto
    description: Gerenciamento de feed de produtos
  - name: Feed transmissão
    description: Gerenciamento de feed de SKUs
  - name: Frete
    description: Gerenciamento de frete
  - name: Imagem
    description: Gerenciamento de imagens
  - name: Marcas
    description: Gerenciamento de marcas
  - name: Mensageria
    description: Gerenciamento de Mensagens nos Pedidos
  - name: Monitoramento
    description: Monitoramento de erros
  - name: Pedido
    description: Gerenciamento de pedidos
  - name: Perguntas
    description: Gerenciamento de perguntas
  - name: Produto
    description: Gerenciamento de produtos
  - name: Promoção
    description: Gerenciamento de regras de preço (Promoções)
  - name: SKU
    description: Gerenciamento de skus
  - name: SKU Marketplace
    description: Gerenciamento de anúncios
  - name: Template
    description: Gerenciamento de templates
  - name: Transmissão
    description: Gerenciamento de transmissões
  - name: Tipos de variação
    description: Gerenciamento de tipos de variação
  - name: Valores de variação
    description: Gerenciamento de valores de variação
paths:
  /brands:
    get:
      summary: /brands
      operationId: get-brands
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    links:
                      - rel: next
                        href: 'https://.../v2/component?limit=5&offset=5'
                    content:
                      - id: 123456
                        name: Brastemp
                        reducedName: brastemp
                        partnerId: marca-001-brastemp
                    page:
                      size: 5
                      totalElements: 0
                      totalPages: 1
                      number: 1
                properties:
                  links:
                    type: array
                    description: Referências de paginação
                    items:
                      type: object
                      properties:
                        rel:
                          type: string
                          description: Relacionamento do hyperlink
                          example: next
                        href:
                          type: string
                          description: URL de definição do recurso
                          example: 'https://.../v2/component?limit=5&offset=5'
                  content:
                    type: array
                    description: Lista de marcas
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: ID da marca
                          minimum: 0
                        name:
                          type: string
                          description: Nome da marca
                          minLength: 1
                          maxLength: 255
                        reducedName:
                          type: string
                          description: Nome reduzido da marca
                          minLength: 0
                          maxLength: 30
                        partnerId:
                          type: string
                          description: ID da marca no parceiro
                          minLength: 0
                          maxLength: 255
                  page:
                    type: object
                    properties:
                      size:
                        type: integer
                        maximum: 5
                      totalElements:
                        type: integer
                        minimum: 0
                      totalPages:
                        type: integer
                        minimum: 1
                      number:
                        type: integer
                        minimum: 1
              examples:
                example-2:
                  value:
                    links:
                      - rel: next
                        href: 'https://.../v2/component?limit=5&offset=5'
                    content:
                      - id: 0
                        name: string
                        reducedName: string
                        partnerId: string
                    page:
                      size: 5
                      totalElements: 0
                      totalPages: 1
                      number: 1
          headers: {}
      description: |-
        # Consulta Marcas
        Consulta todas as marcas
      parameters:
        - $ref: '#/components/parameters/Schemas_Limit'
        - $ref: '#/components/parameters/Schemas_Sort'
        - $ref: '#/components/parameters/Schemas_Name'
        - $ref: '#/components/parameters/Schemas_PartnerId'
      tags:
        - Marcas
    post:
      summary: /brands
      operationId: post-brands
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: 1987032
                    name: teste co po
                    reducedName: testcop
                properties:
                  id:
                    type: integer
                    description: ID da marca
                    minimum: 0
                  name:
                    type: string
                    description: Nome da marca
                    minLength: 1
                    maxLength: 255
                  reducedName:
                    type: string
                    description: Nome reduzido da marca
                    minLength: 0
                    maxLength: 30
                  partnerId:
                    type: string
                    description: ID da marca no parceiro
                    minLength: 0
                    maxLength: 255
                    x-stoplight:
                      id: 2ntcxz84m2hya
              examples:
                Example 1:
                  value:
                    id: 0
                    name: string
                    reducedName: string
                    partnerId: string
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Cria Marca
        Cria uma marca com os dados informados
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandAdd'
        description: ''
      tags:
        - Marcas
  '/brands/{id}':
    get:
      summary: '/brands/{id}'
      operationId: get-brands-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: 1987032
                    name: teste co po
                    reducedName: testcop
                properties:
                  id:
                    type: integer
                    description: ID da marca
                    minimum: 0
                  name:
                    type: string
                    description: Nome da marca
                    minLength: 1
                    maxLength: 255
                  reducedName:
                    type: string
                    description: Nome reduzido da marca
                    minLength: 0
                    maxLength: 30
              examples:
                example-1:
                  value:
                    id: 0
                    name: string
                    reducedName: string
          headers: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Consulta marca
        Consulta os detalhes de uma marca
      parameters: []
      tags:
        - Marcas
    parameters:
      - schema:
          type: integer
          format: int64
          minimum: 1
          exclusiveMaximum: true
        name: id
        in: path
        description: ID da marca gerado pelo ANYMARKET
        required: true
    delete:
      summary: '/brands/{id}'
      operationId: delete-brands-id
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
      description: |-
        # Exclui marca
        Exclui uma marca
      tags:
        - Marcas
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
        description: ''
    put:
      summary: '/brands/{id}'
      operationId: put-brands-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: 0
                    name: string
                    reducedName: string
                properties:
                  id:
                    type: integer
                    description: ID da marca
                    minimum: 0
                  name:
                    type: string
                    description: Nome da marca
                    minLength: 1
                    maxLength: 255
                  reducedName:
                    type: string
                    description: Nome reduzido da marca
                    minLength: 0
                    maxLength: 30
              examples:
                example-1:
                  value:
                    id: 0
                    name: string
                    reducedName: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Altera marca
        Atualiza os dados de uma marca
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandAdd'
      tags:
        - Marcas
  /callbacks:
    post:
      summary: /callbacks
      operationId: post-callbacks
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: 0
                    url: example.com
                    token: string
                    orderActive: true
                    productActive: true
                    transmissionActive: true
                    'questionActive ': true
                properties:
                  id:
                    type: integer
                    description: ID interno
                    minimum: 0
                    exclusiveMaximum: false
                    maximum: 9999999999
                  url:
                    type: string
                    description: URL do callback
                    minLength: 1
                    maxLength: 255
                  token:
                    type: string
                    description: Token da Conta ANYMARKET
                  orderActive:
                    type: boolean
                    description: Indica se o ANYMARKET deve encaminhar callback de pedido
                  productActive:
                    type: boolean
                    description: Indica se o ANYMARKET deve encaminhar callback de produto
                  transmissionActive:
                    type: boolean
                    description: Indica se o ANYMARKET deve encaminhar callback de transmissão
                  'questionActive ':
                    type: boolean
                    description: Indica se o ANYMARKET deve encaminhar callback de pergunta
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Cria Callback
        Cria um callback com os dados informados
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  id: 0
                  url: example.com
                  token: string
                  orderActive: true
                  productActive: true
                  transmissionActive: true
                  'questionActive ': true
              properties:
                url:
                  type: string
                  description: URL de Callback
                token:
                  type: string
                  description: Token da Conta ANYMARKET
                orderActive:
                  type: boolean
                  description: Indica se o ANYMARKET deve encaminhar callback de pedido
                productActive:
                  type: boolean
                  description: Indica se o ANYMARKET deve encaminhar callback de produto
                transmissionActive:
                  type: boolean
                  description: Indica se o ANYMARKET deve encaminhar callback de transmissão
                'questionActive ':
                  type: boolean
                  description: Indica se o ANYMARKET deve encaminhar callback de pergunta
            examples:
              example-1:
                value:
                  url: example.com
                  token: string
                  orderActive: true
                  productActive: true
                  transmissionActive: true
                  'questionActive ': true
        description: ''
      tags:
        - CallBack
    parameters: []
  '/callbacks/{id}':
    get:
      summary: '/callbacks/{id}'
      operationId: get-callbacks-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallBack'
              examples:
                example-1:
                  value:
                    id: 0
                    url: example.com
                    token: string
                    orderActive: true
                    productActive: true
                    transmissionActive: true
                    'questionActive ': true
          headers: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      description: |-
        # Consulta Callback
        Consulta os detalhes de um callback
      parameters: []
      tags:
        - CallBack
    parameters:
      - schema:
          type: integer
          format: int64
          minimum: 1
          exclusiveMaximum: true
        name: id
        in: path
        required: true
        description: ID do callback gerado pelo ANYMARKET
    delete:
      summary: '/callbacks/{id}'
      operationId: delete-callback-id
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      description: |-
        # Exclui Callback
        Exclui um callback
      tags:
        - CallBack
    put:
      summary: '/callbacks/{id}'
      operationId: put-callbacks-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: 0
                    url: string
                    token: string
                    orderActive: true
                    productActive: true
                    transmissionActive: true
                    'questionActive ': true
                properties:
                  id:
                    type: integer
                    description: ID interno
                  url:
                    type: string
                    description: URL do callback
                    minLength: 1
                    maxLength: 255
                  token:
                    type: string
                    description: Token da Conta ANYMARKET
                  orderActive:
                    type: boolean
                    description: Indica se o ANYMARKET deve encaminhar callback de pedido
                  productActive:
                    type: boolean
                    description: Indica se o ANYMARKET deve encaminhar callback de produto
                  transmissionActive:
                    type: boolean
                    description: Indica se o ANYMARKET deve encaminhar callback de transmissão
                  'questionActive ':
                    type: boolean
                    description: Indica se o ANYMARKET deve encaminhar callback de pergunta
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Altera Callback
        Atualiza os dados de um callback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallBackPost'
      tags:
        - CallBack
  /campaigns:
    get:
      summary: /campaigns
      operationId: get-campaigns
      description: |-
        # Consulta Campanha
        Retorna por paginação TODAS campanhas cadastradas
      parameters:
        - schema:
            type: string
          in: query
          name: status
          description: 'Os status podem ser SCHEDULED, ACTIVE e FINALIZED.'
        - schema:
            type: string
          in: query
          name: limit
          description: 'Quantidade de registro da paginação, valor máximo 100.'
        - schema:
            type: string
          in: query
          name: offset
          description: Quantidade de registros deslocados na paginação.
      tags:
        - Campanhas
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageSize:
                    type: integer
                  count:
                    type: integer
                  start:
                    type: integer
                  values:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                        idAccount:
                          type: string
                        accountName:
                          type: string
                        description:
                          type: string
                        initialDate:
                          type: string
                        finalDate:
                          type: string
                        marketplace:
                          type: string
                        status:
                          type: string
                        productsCount:
                          type: integer
                x-examples:
                  example-1:
                    pageSize: 5
                    count: 64
                    start: 0
                    values:
                      - id: 203
                        title: Automação1662035570679
                        idAccount: '1'
                        accountName: ECOMMERCE
                        description: Campanha de testes automatizados
                        initialDate: '2022-09-03T09:32:42.041Z'
                        finalDate: '2022-09-07T09:32:42.041Z'
                        marketplace: ECOMMERCE
                        status: SCHEDULED
                        productsCount: 0
                      - id: 206
                        title: Automação1662036323424
                        idAccount: '1'
                        accountName: ECOMMERCE
                        description: Campanha de testes automatizados
                        initialDate: '2022-09-03T09:45:14.789Z'
                        finalDate: '2022-09-07T09:45:14.789Z'
                        marketplace: ECOMMERCE
                        status: FINALIZED
                        productsCount: 0
                      - id: 209
                        title: Automação1662038893910
                        idAccount: '1'
                        accountName: ECOMMERCE
                        description: Campanha de testes automatizados
                        initialDate: '2022-09-03T10:28:05.454Z'
                        finalDate: '2022-09-07T10:28:05.454Z'
                        marketplace: ECOMMERCE
                        status: FINALIZED
                        productsCount: 0
                      - id: 263
                        title: Automação1672060413770
                        idAccount: '1'
                        accountName: ECOMMERCE
                        description: Campanha de testes automatizados
                        initialDate: '2022-12-28T13:12:42.733Z'
                        finalDate: '2023-01-01T13:12:42.733Z'
                        marketplace: ECOMMERCE
                        status: FINALIZED
                        productsCount: 0
                      - id: 262
                        title: Automação1672060393631
                        idAccount: '1'
                        accountName: ECOMMERCE
                        description: Campanha de testes automatizados
                        initialDate: '2022-12-28T13:12:42.651Z'
                        finalDate: '2023-01-01T13:12:42.651Z'
                        marketplace: ECOMMERCE
                        status: ACTIVE
                        productsCount: 0
              examples:
                example-1:
                  value:
                    pageSize: 0
                    count: 0
                    start: 0
                    values:
                      - id: 0
                        title: string
                        idAccount: string
                        accountName: string
                        description: string
                        initialDate: string
                        finalDate: string
                        marketplace: string
                        status: string
                        productsCount: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                x-examples:
                  example-1:
                    code: '400'
                    message: O campo 'status' na url está em formato incorreto. Verifique a documentação para maiores detalhes.
              examples:
                example-1:
                  value:
                    code: '400'
                    message: O campo 'status' na url está em formato incorreto. Verifique a documentação para maiores detalhes.
        '':
          description: ''
    parameters: []
  '/campaigns/{id}':
    get:
      summary: '/campaigns/{id}'
      operationId: get-campaigns-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
              examples: {}
          headers: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      description: |-
        # Consulta Campanha
        Consulta os detalhes de uma campanha
      parameters: []
      tags:
        - Campanhas
    parameters:
      - schema:
          type: integer
          format: int64
          minimum: 1
          exclusiveMaximum: true
        name: id
        in: path
        required: true
        description: ID da campanha gerado pelo ANYMARKET
  /categories:
    get:
      summary: /categories
      operationId: get-categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_Category'
              examples:
                example-1:
                  value:
                    links:
                      - rel: next
                        href: 'https://.../v2/component?limit=5&offset=5'
                    content:
                      - id: 0
                        name: string
                        path: string
                        partnerId: string
                        priceFactor: 0
                        definitionPriceScope: SKU
                    page:
                      size: 5
                      totalElements: 0
                      totalPages: 1
                      number: 1
          headers: {}
      description: |-
        # Consulta Categorias 
        Consulta todas as categorias que estão no primeiro nível na hierarquia,
        por exemplo:


        - Eletrônicos
          - Acessórios
          - Smart TV
        - Esporte e Lazer
          - Fitness
          - Futebol
        - Eletroportáteis
          - Cafeteiras
          - Liquidificadores

        Nesse caso as categorias que serão recuperadas serão Eletrônicos,
        Esporte e Lazer e Eletroportáteis
      parameters:
        - $ref: '#/components/parameters/Schemas_Offset'
        - $ref: '#/components/parameters/Schemas_Limit'
        - $ref: '#/components/parameters/Schemas_Sort'
        - $ref: '#/components/parameters/Schemas_PartnerId'
      tags:
        - Categorias
    post:
      summary: /categories
      operationId: post-categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGET'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Cria Categoria
        Cria uma categoria com os dados informados
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  id: 0
                  name: string
                  partnerId: string
                  priceFactor: 0
                  definitionPriceScope: SKU
                  parent:
                    id: 0
              properties:
                name:
                  type: string
                  description: Nome da categoria
                  maxLength: 80
                partnerId:
                  type: string
                  description: ID da categoria no parceiro
                  maxLength: 80
                priceFactor:
                  type: integer
                  description: Fator de preço
                  minimum: 0
                  maximum: 13215646465465
                definitionPriceScope:
                  type: string
                  description: 'SKU (Manual, eu controlo o preço pelo SKU), SKU_MARKETPLACE (Manual, eu controlo o preço pelo anúncio) ou COST (Automático, pela mudança do custo)'
                  enum:
                    - SKU
                    - SKU_MARKETPLACE
                    - COST
                parent:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: ID da categoria gerado pelo ANYMARKET
                      minimum: 0
                      maximum: 99999999999
            examples:
              example-1:
                value:
                  name: string
                  partnerId: string
                  priceFactor: 0
                  definitionPriceScope: SKU
                  parent:
                    id: 0
        description: ''
      tags:
        - Categorias
    parameters: []
  '/categories/{id}':
    get:
      summary: '/categories/{id}'
      operationId: get-categories-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: 1794222
                    name: Testetetetet1
                    path: Testetetetet/Testetetetet1
                    parent:
                      id: 1794218
                      partnerId: '757878'
                    partnerId: '7547878'
                    priceFactor: 1
                    children:
                      - id: 1794224
                        name: Testetetetet10
                        path: Testetetetet/Testetetetet1/Testetetetet10
                        partnerId: '75478678'
                        priceFactor: 1
                        definitionPriceScope: SKU
                    definitionPriceScope: SKU
                properties:
                  id:
                    type: integer
                    description: ID interno
                  name:
                    type: string
                    description: Nome da categoria
                  path:
                    type: string
                    description: Diretório e subdiretórios da categoria
                  parent:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: ID da categoria "PAI"
                      partnerId:
                        type: string
                        description: ID da categoria "PAI" no parceiro
                  partnerId:
                    type: string
                    description: ID da categoria no parceiro
                  priceFactor:
                    type: integer
                    description: Fator de preço
                  children:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: ID da categoria "FILHA"
                        name:
                          type: string
                          description: Nome da categoria "FILHA"
                        path:
                          type: string
                          description: Diretório e subdiretórios da categoria
                        partnerId:
                          type: string
                          description: ID da categoria "FILHA" no parceiro
                        priceFactor:
                          type: integer
                          description: Fator de preço
                        definitionPriceScope:
                          type: string
                          description: 'SKU (Manual, eu controlo o preço pelo SKU), SKU_MARKETPLACE (Manual, eu controlo o preço pelo anúncio) ou COST (Automático, pela mudança do custo)'
                  definitionPriceScope:
                    type: string
                    description: 'SKU (Manual, eu controlo o preço pelo SKU), SKU_MARKETPLACE (Manual, eu controlo o preço pelo anúncio) ou COST (Automático, pela mudança do custo)'
              examples:
                example-1:
                  value:
                    id: 0
                    name: string
                    path: string
                    parent:
                      id: 0
                      partnerId: string
                    partnerId: string
                    priceFactor: 0
                    children:
                      - id: 0
                        name: string
                        path: string
                        partnerId: string
                        priceFactor: 0
                        definitionPriceScope: SKU
                    definitionPriceScope: SKU
          headers: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      description: |-
        # Consulta Categoria
        Recupera os dados da categoria informada e as categorias filhas, caso existam
      parameters: []
      tags:
        - Categorias
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID da categoria gerada pelo ANYMARKET
    put:
      summary: '/categories/{id}'
      operationId: put-categories-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryFullPath'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Altera Categoria
        Atualiza os dados de uma categoria
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryPOST'
      tags:
        - Categorias
    delete:
      summary: '/categories/{id}'
      operationId: delete-categories-id
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      description: |-
        # Exclui Categoria 
        Exclui uma categoria
      tags:
        - Categorias
  /categories/fullPath:
    get:
      summary: /categories/fullPath
      operationId: get-categories-fullPath
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                x-examples:
                  example-1:
                    - id: 1771102
                      name: Brinquedos
                      path: Brinquedos
                      partnerId: '87'
                      priceFactor: 1
                      children:
                        - id: 1771137
                          name: Brinquedos para Bebês
                          path: Brinquedos/Brinquedos para Bebês
                          parent:
                            id: 1771102
                            partnerId: '87'
                          partnerId: '371'
                          priceFactor: 1
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: ID da categoria gerado pelo ANYMARKET
                    name:
                      type: string
                      description: Nome da categoria
                    path:
                      type: string
                      description: Caminho da categoria
                    partnerId:
                      type: string
                      description: partnerId
                    priceFactor:
                      type: integer
                      description: Fator de preço
                    children:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: ID interno
                          name:
                            type: string
                            description: Nome da categoria "FILHA"
                          path:
                            type: string
                            description: Caminho da categoria
                          parent:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: ID interno
                              partnerId:
                                type: string
                                description: ID da categoria no parceiro
                          partnerId:
                            type: string
                            description: ID da categoria no parceiro
                          priceFactor:
                            type: integer
                            description: priceFactor
              examples:
                example-1:
                  value:
                    - id: 0
                      name: string
                      path: string
                      partnerId: string
                      priceFactor: 0
                      children:
                        id: 0
                        name: string
                        path: string
                        partnerId: string
                        priceFactor: 0
                        definitionPriceScope: SKU
                        parent:
                          id: 0
                          parnerId: string
                        children: {}
          headers: {}
      description: |
        # Consulta Categorias com hierarquias
        Consulta todas as categorias e todos os níveis de hierarquia, por exemplo:

        - Eletrônicos
          - Acessórios
            - Cabos e Conectores
              - Cabo coaxial
                - Smart TV
        - Esporte e Lazer
          - Fitness
            - Masculino
              - Bermudas
                - Futebol
            - Feminino
              - Regata
                Futebol
        - Eletroportáteis
          - Cafeteiras
          - Liquidificadores

        Serão listadas todas as categorias e cada um dos sub-níveis respectivamente até o final da hierarquia
      parameters: []
      tags:
        - Categorias
    parameters: []
  '/printtag/{type}':
    parameters:
      - schema:
          type: string
          enum:
            - PDF
            - ZPL
            - ZPL2
        name: type
        in: path
        required: true
        description: 'Tipo da nota que sera gerada (PDF, ZPL ou ZPL2)'
    post:
      tags:
        - Emissão de Etiquetas
      summary: '/printtag/{type}'
      description: |-
        # Gera Etiquetas
        Gera etiquetas para os pedidos informados
      responses:
        '200':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrintTag'
              examples:
                ZPL:
                  value:
                    content: '^XA^MCY^CI28^LH5,15^FX  HEADER  ^FS^FX Logo_Meli ^FS^FO20,10^GFA,800,800,10,,:::::::::::O0FF,M07JFE,L07FC003FE,K07EL07E,J01EN078,J07P0E,I01CP038,I07R0E,001CK01FK038,003L0IFK0C,0078J03803CJ0E,0187J06I07I01D8,0300F00F8J0FEFE0C,02003IFK01J06,04I01C6P02,08K0401FM01,1L08060CM083K0100C02M0C2M01001M046K0306I0CL064K0198I02L024Q01L02CR08K03CR04K03FR02K03FFQ01J07!C1FQ0C007E3C03EP0203F03C0078O010F003CI0EF1N0F8003CI070C4M06I03CI02003CL02I03CI02P02I036I03N0106I066I01J08J0C4I067J0EI08J078I0E38I03I0E00406I01C3CI01800100204I01C3CJ0FI080118I03C1EJ03800801FJ0780FK0C008018J0F,078J07C0823J01F,07EJ01C1C36J07E,03FK031C3K0FC,01FCJ01E18J01F8,00FER07F,007F8P01FE,003FFP0FFC,I0FFEN07FF,I03FFCL03FFC,J0IFCJ03IF,J07PFE,K0PF,K01NF8,L01LF8,N0JF,,:::::::::::^FS^FO120,20^A0N,24,24^FH^FDANYMARKET SA _2E_2D ANYMARKET SA _2E #123456789^FS^FO120,43^A0N,24,24^FH^FB550,2,0,L^FDAv_2E Carneiro Leao_2D2 Andar 563, Zona 1^FS^FO120,90^A0N,24,24^FH^FB550,1,0,L^FDMaringa, BR-PR - 87014010^FS^FO120,120^A0N,24,24^FDPack ID: 10000^FS^FO272,117^A0N,27,27^FD01234567890^FS^FX LAST CLUSTER  ^FS^FO20,150^GB210,45,45^FS^FO20,156^A0N,45,45^FB210,1,0,C^FR^FDXSP1^FS^FX END LAST CLUSTER  ^FS^FO480,150^GB330,40,40^FS^FO410,160^A0N,22,22^FB460,1,0,C^FR^FH^FDENTREGAR NA COLETA^FS^FX  Shipment_Number_Bar_Code  ^FS^FO230,210^BY3,,0^BCN,160,N,N,N^FD>:01234567890^FS^FO95,385^A0N,30,30^FB390,1,0,R^FD423127^FS^FO488,381^A0N,35,35^FB400,1,0,L^FD60443^FS^FX  END_HEADER  ^FS^FX  CUSTOM_DATA  ^FS^FO0,580^A0N,175,175^FB630,1,0,R^FDSRD1^FS^FO670,640^A0N,47,47^FB200,1,0,L^FD09:00^FS^FO0,790^A0N,28,28^FB600,1,0,R^FDXSP1 > XSP9 > SRD1 > ^FS^FO605,785^A0N,40,40^FD4^FS^FO0,830^A0N,38,38^FB820,1,0,C^FDTER 06/06/2023   CEP: 87014010   NF: 1234567^FS^FX  END CUSTOM_DATA  ^FS^FO0,950^GB850,0,2^FS^FX  RECEIVER ZONE  ^FS^FO30,970^A0N,26,26^FB600,2,0,L^FH^FDDB1 Global Software SA (DB1GLOBALSOFTWARE)^FS^FO30,1030^A0N,26,26^FB600,2,0,L^FH^FDEndere_C3_A7o: Av Carneiro Leao, 563 - 2º Andar_2c Zona 1^FS^FO30,1090^A0N,30,30^FDCEP: 87014010^FS^FO30,1089^A0N,30,30^FDCEP: 87014010^FS^FO30,1121^A0N,26,26^FB600,2,1000,L^FH^FDCidade de destino: Maringa_2c Parana^FS^FO30,1150^A0N,26,26^FB600,5,0,L^FH^FDComplemento: Sobreloja Centro Empresarial Le Monde_2E^FS^FX  QR Code  ^FS^FO650,985^BY2,2,0^BQN,2,5^FDLA,{"id":"01234567890","t":"lm"}^FS^FO650,1130^GB105,40,40^FS^FO650,1135^A0N,35,35^FB105,1,0,C^FR^FDR^FS^FX  END_FOOTER  ^FS^XZ'
            application/pdf:
              schema:
                type: object
                properties: {}
              examples:
                file=PLP:
                  value: Arquivo.pdf
                type = PDF ou ZIP:
                  value: Arquivo.pdf ou Arquivo.zip
            application/zip:
              schema:
                type: object
                properties: {}
              examples:
                type = PDF:
                  value: Arquivo.zip
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
          schema:
            $ref: '#/components/schemas/PrintTag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/components/schemas/PrintTag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrintTagPost'
      parameters:
        - schema:
            type: string
            enum:
              - TXT
              - PLP
          in: query
          name: file
          description: 'Pode ser informado "TXT" ou "PLP" quando o tipo for ZPL2. Quando informado TXT é retornado um JSON com o conteúdo do TXT fornecido pelo Marketplace, quando informado PLP o retorno é um PDF com o PLP.'
      operationId: post-printtag-type
  /stocks:
    get:
      summary: /stocks
      tags:
        - Estoque
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    links:
                      - rel: next
                        href: 'https://.../v2/component?limit=5&offset=5'
                    content:
                      - stockKeepingUnit:
                          id: 0
                          title: string
                          partnerId: string
                        stockLocal:
                          id: 0
                          oi:
                            value: string
                          name: string
                          virtual: true
                          defaultLocal: true
                          priorityPoints: 0
                        amount: 0
                        reservationAmount: 0
                        availableAmount: 0
                        price: 0
                        active: true
                        additionalTime: 0
                        lastStockUpdate: '2019-08-24T14:15:22Z'
                    page:
                      size: 5
                      totalElements: 0
                      totalPages: 1
                      number: 1
                properties:
                  links:
                    type: array
                    description: Referências de paginação
                    items:
                      type: object
                      properties:
                        rel:
                          type: string
                          description: Relacionamento do hyperlink
                          example: next
                        href:
                          type: string
                          description: URL de definição do recurso
                          example: 'https://.../v2/component?limit=5&offset=5'
                  content:
                    type: array
                    description: Lista de estoques
                    items:
                      type: object
                      properties:
                        stockKeepingUnit:
                          type: object
                          description: Objeto SKU
                          properties:
                            id:
                              type: integer
                              description: ID do SKU gerado pelo ANYMARKET
                            title:
                              type: string
                              description: Título do SKY
                            partnerId:
                              type: string
                              description: ID do parceiro
                        stockLocal:
                          type: object
                          description: Local de Estoque
                          properties:
                            id:
                              type: integer
                              description: ID do estoque gerado pelo ANYMARKET
                            oi:
                              type: object
                              properties:
                                value:
                                  type: string
                                  description: Identificador da Conta ANYMARKET
                            name:
                              type: string
                              description: Nome do Estoque
                            virtual:
                              type: boolean
                              description: Identifica se é estoque virtual
                            defaultLocal:
                              type: boolean
                              description: Identifica se é o estoque principal
                            priorityPoints:
                              type: integer
                              description: Pontos de prioridade para Múltiplos CDs
                        amount:
                          type: integer
                          description: Quantidade em estoque
                        reservationAmount:
                          type: integer
                          description: Quantidade em Reserva
                        availableAmount:
                          type: integer
                          description: Quantidade de estoque disponível
                        price:
                          type: integer
                          description: Preço de Custo
                        active:
                          type: boolean
                          description: Identifica se o estoque está ativo
                        additionalTime:
                          type: integer
                          description: Crossdocking
                        lastStockUpdate:
                          type: string
                          description: Data da última atualização
                        skuLocationDescription:
                          type: string
                          description: Local de Estoque
                          x-stoplight:
                            id: 894wocfpsyz0t
                  page:
                    type: object
                    properties:
                      size:
                        type: integer
                        description: Tamanho da página
                      totalElements:
                        type: integer
                        description: Total de elementos existentes
                      totalPages:
                        type: integer
                        description: Total de páginas disponíveis
                      number:
                        type: integer
                        description: Número da página atual
              examples:
                example-1:
                  value:
                    links:
                      - rel: string
                        href: string
                    content:
                      - stockKeepingUnit:
                          id: 0
                          title: string
                          partnerId: string
                        stockLocal:
                          id: 0
                          oi:
                            value: string
                          name: string
                          virtual: true
                          defaultLocal: true
                          priorityPoints: 0
                        amount: 0
                        reservationAmount: 0
                        availableAmount: 0
                        price: 0
                        active: true
                        additionalTime: 0
                        lastStockUpdate: string
                    page:
                      size: 0
                      totalElements: 0
                      totalPages: 0
                      number: 0
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      operationId: get-stocks
      description: |-
        # Consulta Estoques
        Consulta os detalhes de um estoque

        > A consulta pode ser realizada através de filtros utilizados na query. Caso não seja específicado nenhum filtro, e o retorno possuir mais de 50 mil registros, será utilizado o retorno total de registros **(totalElements)** com valor aproximado, por questões de performance.
      parameters:
        - schema:
            type: string
          in: query
          name: idSku
          description: Atributo para filtrar pelo ID do SKU
        - schema:
            type: string
          in: query
          name: idStockLocal
          description: Atributo para filtrar pelo id do estoque local
        - schema:
            type: string
          in: query
          name: sku
          description: Atributo para filtrar pelo SKU
        - $ref: '#/components/parameters/Schemas_Offset'
        - $ref: '#/components/parameters/Schemas_Limit'
        - $ref: '#/components/parameters/Schemas_Sort'
        - $ref: '#/components/parameters/Schemas_SortDirection'
        - schema:
            type: boolean
          in: query
          name: hasReservation
          description: Atributo para filtras os estoques que possuem reserva
    post:
      summary: /stocks
      operationId: post-stocks
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      tags:
        - Estoque
      description: |-
        # Cria Estoque
        Será criado o estoque para o SKU e o Local de Estoque informado com todas as informações de quantidade, custo e prazo adicional
      requestBody:
        content:
          application/json:
            schema:
              type: array
              x-examples:
                example-1:
                  - partnerId: naomexerIntelipost
                    quantity: 50
                    cost: 1000
                    additionalTime: 0
                    stockLocalId: 18448
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: ID do SKU gerado pelo ANYMARKET
                  partnerId:
                    type: string
                    description: Código do SKU do parceiro
                  quantity:
                    type: integer
                    description: Quantidade de estoque
                  cost:
                    type: integer
                    description: Preço de Custo. A partir desse custo será calculado o preço final do produto caso o tipo do cálculo de preço esteja como automático
                  additionalTime:
                    type: integer
                    description: 'Prazo Adicional para entrega do produto. Também chamado de ''crossdocking'' este é o prazo de preparo de cada produto para envio, seja de fabricação, aquisição, embalagem ou redirecionamento de local. Utilizado em marketplaces como B2W e VIA. Caso não informado, manterá o valor atual.'
                  stockLocalId:
                    type: integer
                    description: 'ID do Local de Estoque, caso não informado será criado no local padrão definido.'
                  skuLocationDescription:
                    type: string
                    description: Local de Estoque
                    x-stoplight:
                      id: d1deb9eprc86z
                required:
                  - id
                  - partnerId
                  - quantity
                  - cost
                  - additionalTime
            examples:
              example-1:
                value:
                  - id: 0
                    partnerId: string
                    quantity: 0
                    cost: 0
                    additionalTime: 0
                    stockLocalId: 0
        description: |-
          <!-- theme: warning -->
          > #### Atenção!
          >
          > Tamanho máximo do lote é de 200 itens.
    put:
      summary: /stocks
      operationId: put-stocks
      responses:
        '204':
          description: No Content
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Altera Estoque
        Será utilizada para realizar a atualização de estoque, prazo adicional ou do custo médio. A operação de estoque é realizada em batch, ou seja é possível enviar um ou mais SKUs para atualização.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              x-examples:
                Example 1:
                  - id: 0
                    partnerId: string
                    quantity: 0
                    cost: 0
                    additionalTime: 0
                    stockLocalId: 0
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: ID do SKU gerado pelo ANYMARKET
                  partnerId:
                    type: string
                    description: Código do SKU do parceiro
                  quantity:
                    type: number
                    description: Quantidade em estoque
                    minimum: 0
                  cost:
                    type: number
                    description: Custo médio do SKU no estoque. A partir desse custo será calculado o preço final do produto caso o tipo do cálculo de preço esteja como automático.
                    minimum: 0
                    exclusiveMinimum: true
                  additionalTime:
                    type: integer
                    description: |
                      Prazo Adicional para entrega do produto. Também chamado de 'crossdocking' este é o prazo de preparo de cada produto para envio, seja de fabricação, aquisição, embalagem ou redirecionamento de local. Utilizado em marketplaces como B2W e CNOVA. Caso não informado, manterá o valor atual.
                  stockLocalId:
                    type: integer
                    description: ID do Local de Estoque
                  skuLocationDescription:
                    type: string
                    description: Local de Estoque
                    x-stoplight:
                      id: 9aijs7d1l732x
                required:
                  - partnerId
                  - quantity
            examples:
              Example 1:
                value:
                  - id: 0
                    partnerId: string
                    quantity: 0
                    cost: 0
                    additionalTime: 0
                    stockLocalId: 0
        description: |-
          <!-- theme: warning -->
          > #### Atenção!
          >
          > Tamanho máximo do lote é de **200 itens**.
      tags:
        - Estoque
  /stocks/batch:
    put:
      summary: /stocks/batch
      operationId: put-stocks
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    success:
                      id: string
                    errors:
                      id: string
                properties:
                  success:
                    type: object
                    description: SKUs atualizados com Sucesso
                    properties:
                      id:
                        type: string
                        description: ID do SKU e Mensagem de Atualização com Sucesso
                  errors:
                    type: object
                    description: SKUs com erro de Atualização
                    properties:
                      id:
                        type: string
                        description: ID do SKU e Mensagem de erro dee Atualização
              examples:
                example-1:
                  value:
                    success:
                      SKU1: Atualizado com sucesso
                      SKU2: Atualizado com sucesso
                    errors:
                      SKU3: 'Erro ao processar: Quantidade, Custo, Prazo Adicional ou Localização do produto devem ser informados'
        '400':
          description: Bad Request
      description: |-
        # Altera Estoque
        Será utilizada para realizar a atualização de estoque, prazo adicional ou do custo médio. A operação de estoque é realizada em batch, ou seja é possível enviar um ou mais SKUs para atualização.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              x-examples:
                example-1:
                  - id: 0
                    partnerId: string
                    quantity: 0
                    cost: 0
                    additionalTime: 0
                    stockLocalId: 0
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: ID do SKU gerado pelo ANYMARKET
                  partnerId:
                    type: string
                    description: Código do SKU do parceiro
                  quantity:
                    type: integer
                    description: Quantidade em estoque
                  cost:
                    type: integer
                    description: Custo médio do SKU no estoque. A partir desse custo será calculado o preço final do produto caso o tipo do cálculo de preço esteja como automático.
                  additionalTime:
                    type: integer
                    description: 'Prazo Adicional para entrega do produto. Também chamado de ''crossdocking'' este é o prazo de preparo de cada produto para envio, seja de fabricação, aquisição, embalagem ou redirecionamento de local. Utilizado em marketplaces como Americanas e VIA. Caso não informado, manterá o valor atual.'
                  stockLocalId:
                    type: integer
                    description: ID do Local de Estoque
            examples:
              Example 1:
                value:
                  - id: 0
                    partnerId: string
                    quantity: 0
                    cost: 0
                    additionalTime: 0
                    stockLocalId: 0
        description: |-
          <!-- theme: warning -->
          > #### Atenção!
          >
          > Tamanho máximo do lote é de **200 itens**.
      tags:
        - Estoque
    parameters: []
  '/stocks/fulfillment/{marketplace}/{idSku}':
    get:
      summary: '/stocks/fulfillment/{marketplace}/{idSku}'
      tags:
        - Estoque
        - Fulfillment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StockFulfillmentGet'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      operationId: get-stocks-fulfillment
      description: |-
        # Consulta estoque fulfillment por marketplace e idSku
        Utilizada para listar os estoques fulfillment do SKU em cada centro de distribuição do marketplace.
        Parâmetro 'marketplace' podendo ser:
        - B2W_NEW_API
        - MERCADO_LIVRE
        - OUTROS
        <!-- theme: warning -->
        > #### Atenção!
        >
        > Atributo **'marketplace'** deve ser caixa alta (maiúsculo) pois trata-se de um ENUM.
    parameters:
      - schema:
          type: string
        name: marketplace
        in: path
        required: true
        description: Identificador do marketplace
      - schema:
          type: integer
        name: idSku
        in: path
        required: true
        description: Identificador do SKU no Anymarket
  /stocks/locals:
    get:
      summary: /stocks/locals
      tags:
        - Local de estoque
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StockLocalGet'
      operationId: get-stocks-locals
      description: |-
        # Consulta Locais de Estoque
        Utilizada para listar os dados de locais de estoque.
    post:
      summary: /stocks/locals
      operationId: post-stocks-locals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    message: Estoque criado com sucesso!
                    data:
                      id: 3586
                      name: stringqwe
                      virtual: false
                      defaultLocal: false
                properties:
                  message:
                    type: string
                    minLength: 1
                  data:
                    $ref: '#/components/schemas/StockLocalGet'
              examples:
                example-1:
                  value:
                    message: Estoque criado com sucesso!
                    data:
                      id: 1
                      name: string
                      virtual: true
                      distributor: string
                      defaultLocal: true
                      zipCode: string
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Cria Local de Estoque
        Utilizada para criar os dados de locais de estoque.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockLocalPost'
      tags:
        - Local de estoque
  '/stocks/locals/{id}':
    get:
      summary: '/stocks/locals/{id}'
      tags:
        - Local de estoque
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockLocalGet'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      operationId: get-stocks-locals-id
      description: |-
        # Consulta Local de Estoque
        Utilizada para buscar local de estoque por id.
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID do Local de Estoque gerado pelo ANYMARKET
    delete:
      summary: '/stocks/locals/{id}'
      operationId: delete-stocks-locals-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    message: Local de Estoque removido com sucesso!
                    data: 3586
                properties:
                  message:
                    type: string
                    minLength: 1
                  data:
                    type: integer
                    format: int64
                    minimum: 1
                required:
                  - message
                  - data
              examples:
                example-1:
                  value:
                    message: Local de Estoque removido com sucesso!
                    data: 1
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Exclui Local de Estoque
        Exclui o Local de Estoque
      tags:
        - Local de estoque
    put:
      summary: '/stocks/locals/{id}'
      operationId: put-stocks-locals-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    message: Estoque criado com sucesso!
                    data:
                      id: 3586
                      name: stringqwe
                      virtual: false
                      defaultLocal: false
                properties:
                  message:
                    type: string
                    minLength: 1
                  data:
                    $ref: '#/components/schemas/StockLocalGet'
              examples:
                example-1:
                  value:
                    message: Atualizado com sucesso!
                    data:
                      id: 1
                      name: string
                      virtual: true
                      defaultLocal: true
                      zipCode: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Altera Local de Estoque
        Utilizada para alterar os dados de locais de estoque.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockLocalPost'
      tags:
        - Local de estoque
  /orders/feeds:
    get:
      summary: /orders/feeds
      tags:
        - Feed pedido
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                maxItems: 10
                items:
                  $ref: '#/components/schemas/OrderFeed'
      operationId: get-orders-feeds
      description: |-
        # Consulta todos os pedidos alterados
        Quando um pedido é criado ou alterado no ANYMARKET, o mesmo é disponibilizado para consulta través desse feed e fica disponível por 30 dias (se foi lido, 30 dias a partir da data de leitura, se não foi lido, 30 dias a partir da data de criação/edição.). 

        O caso não informado um limit o resultado da consulta de feed retorna 100 itens disponíveis aleatóriamente

        <!-- theme: warning -->
        > #### Atenção!
        >
        > Só serão retornados os status configurados pelo seller no painel do ANYMARKET.

        Após leitura dos itens dos FEED, é necessário realizar um PUT para confirmar a leitura.
      parameters:
        - $ref: '#/components/parameters/Schemas_Limit'
    parameters: []
  '/orders/feeds/{id}':
    put:
      summary: '/orders/feeds/{id}'
      operationId: put-orders-feeds-id
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      tags:
        - Feed pedido
      description: |-
        # Marca o feed como processado
        Após consulta do pedido através do feed, é preciso marcá-lo como lido. Caso não seja marcado, continuará retornando na consulta.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  token: string
              properties:
                token:
                  type: string
                  minLength: 1
                  format: uuid
                  description: Token recuperado na consulta do feed
              required:
                - token
        description: Dados para atualização do feed
      parameters:
        - schema:
            type: string
          in: query
          description: 'Status recuperado no momento da consulta do pedido, caso este parâmetro seja enviado apenas o status informado será marcado como lido. Por padrão são marcados como lidos todos os feeds do pedido em questão  '
          name: status
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID do pedido gerado pelo ANYMARKET
  /transmissions/feeds:
    get:
      summary: /transmissions/feeds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                maxItems: 10
                items:
                  $ref: '#/components/schemas/TransmissionsFeed'
      operationId: get-transmissions-feeds
      description: |-
        # Consulta todos as transmissões alteradas
        Quando um SKU é criado ou alterado no ANYMARKET,  o mesmo é disponibilizado para consulta través desse feed e fica disponível por 30 dias (se foi lido, 30 dias a partir da data de leitura, se não foi lido, 30 dias a partir da data de criação/edição.). 


        O caso não informado um limit o resultado da consulta de feed retorna 100 itens disponíveis aleatóriamente

        <!-- theme: warning -->
        > #### Atenção!
        >
        > Só serão retornadas as operações configuradas pelo seller no painel do ANYMARKET.

        Após leitura dos itens dos FEED, é necessário realizar um PUT para confirmar a leitura.
      tags:
        - Feed transmissão
      parameters:
        - $ref: '#/components/parameters/Schemas_Limit'
    parameters: []
  '/transmissions/feeds/{id}':
    put:
      summary: '/transmissions/feeds/{id}'
      operationId: put-transmissions-feeds-id
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      description: |-
        # Marca o feed como processado
        Após consulta do produto através do feed, é preciso marcá-lo como lido. Caso não seja marcado, o mesmo continuará a ser trazido na consulta.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  token: string
              properties:
                token:
                  type: string
                  minLength: 1
                  format: uuid
                  description: Token recuperado na consulta do feed
              required:
                - token
        description: Dados para atualização do feed
      tags:
        - Feed transmissão
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID do SKU gerado pelo ANYMARKET
  /freight/quotes:
    post:
      summary: /freight/quotes
      operationId: post-freight-quotes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreightResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Cotação de Valores de Frete
        Cotação de valores de frete para o objeto informado
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreightRequest'
      tags:
        - Frete
  '/products/{productId}/images':
    parameters:
      - schema:
          type: integer
        name: productId
        in: path
        required: true
        description: ID do produto gerado pelo ANYMARKET
    get:
      summary: '/products/{productId}/images'
      tags:
        - Imagem
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Image'
              examples:
                example-1:
                  value:
                    - id: 0
                      index: 0
                      main: true
                      url: 'http://example.com'
                      thumbnailUrl: 'http://example.com'
                      lowResolutionUrl: 'http://example.com'
                      standardUrl: 'http://example.com'
                      originalImage: 'http://example.com'
                      variation: string
                      status: UNPROCESSED
                      statusMessage: string
                      standardWidth: -2147483648
                      standardHeight: -2147483648
                      originalWidth: -2147483648
                      originalHeight: -2147483648
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      operationId: get-products-productId-images
      description: |-
        # Consulta todas as imagens de um produto
        Consulta todas as imagens de um produto
    post:
      summary: '/products/{productId}/images'
      operationId: post-products-productId-images
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: 2523770137
                    index: 2
                    main: true
                    url: 'https://static.netshoes.com.br/produtos/bola-de-futebol-campo-nike-mercurial-fade/58/HZM-1897-058/HZM-1897-058_zoom3.jpg?ts=1564483160&ims=544x'
                    variation: Azul
                    status: UNPROCESSED
                    standardWidth: 0
                    standardHeight: 0
                    originalWidth: 0
                    originalHeight: 0
                properties:
                  id:
                    type: integer
                    description: ID da imagem gerado pelo ANYMARKET
                  index:
                    type: integer
                    description: 'Índice da imagem, ou seja, posição da imagem no cadastro no produto; inicia-se em 1 e limita-se a quantidade de imagens no produto'
                  main:
                    type: boolean
                    description: Determina se a imagem é principal
                  url:
                    type: string
                    description: URL original da imagem
                  variation:
                    type: string
                    description: Valor de Variação da Imagem
                  status:
                    type: string
                    description: Determina qual é o status da imagem
                    enum:
                      - UNPROCESSED
                      - PROCESSED
                      - ERROR
                  standardWidth:
                    type: integer
                    description: Dimensão padrão de largura da imagem
                  standardHeight:
                    type: integer
                    description: Dimensão padrão de altura da imagem
                  originalWidth:
                    type: integer
                    description: Dimensão original de largura da imagem
                  originalHeight:
                    type: integer
                    description: Dimensão original de altura da imagem
              examples:
                example-1:
                  value:
                    id: 0
                    index: 0
                    main: boolean
                    url: string
                    variation: string
                    status: string
                    standardWidth: 0
                    standardHeight: 0
                    originalWidth: 0
                    originalHeight: 0
            application/xml:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value: {}
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Cria uma imagem com os dados informados
        Cria uma imagem com os dados informados. Caso informado um índice para a imagem o ANYMARKET manterá o índice, mantendo sempre o índice dentro da quantidade de imagens informadas para o produto. Caso não informado será atribuido em sequência iniciando-se em 1. Caso informado a imagem como main o ANYMARKET irá validar se não há outra imagem marcada como main
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagePost'
            examples:
              example-1:
                value:
                  index: 0
                  main: true
                  url: string
                  variation: string
      tags:
        - Imagem
    put:
      summary: '/products/{productId}/images'
      operationId: put-products-productId-images
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: |-
        # Edita o index e/ou main da imagem informada
        Caso o índice informado for maior que a quantidade de imagens do produto a operação será ignorada. Caso o índice informado seja o mesmo de outra imagem então os índices serão trocados. Caso a imagem seja alterada para main e já exista uma primeira imagem com a mesma marcação a primeira imagem deixará de ser a main.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagePut'
      tags:
        - Imagem
  '/products/{productId}/images/{imageId}':
    parameters:
      - schema:
          type: integer
        name: productId
        in: path
        required: true
        description: ID do produto gerado pelo ANYMARKET
      - schema:
          type: integer
        name: imageId
        in: path
        required: true
        description: ID da imagem gerado pelo ANYMARKET
    get:
      summary: '/products/{productId}/images/{imageId}'
      tags:
        - Imagem
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Image'
              examples:
                example-1:
                  value:
                    - id: 0
                      index: 0
                      main: true
                      url: 'http://example.com'
                      thumbnailUrl: 'http://example.com'
                      lowResolutionUrl: 'http://example.com'
                      standardUrl: 'http://example.com'
                      originalImage: 'http://example.com'
                      variation: string
                      status: UNPROCESSED
                      statusMessage: string
                      standardWidth: -2147483648
                      standardHeight: -2147483648
                      originalWidth: -2147483648
                      originalHeight: -2147483648
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      operationId: get-products-productId-images-imageId
      description: |-
        # Consulta os detalhes de uma imagem
        Consulta os detalhes de uma imagem
    delete:
      summary: '/products/{productId}/images/{imageId}'
      operationId: delete-products-productId-images-imageId
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      description: |-
        # Exclui a imagem informada
        Exclui a imagem informada
      tags:
        - Imagem
  '/messages/order/{id}':
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: ID do pedido fornecido pelo ANYMARKET
    post:
      summary: '/messages/order/{id}'
      tags:
        - Mensageria
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Texto da mensagem para o comprador do pedido
        '400':
          description: Bad Request
      operationId: get-messages-order-id
      description: |-
        # Encaminha para o Mercado Livre uma mensagem para o comprador do pedido
        Encaminha para o marketplace uma mensagem para o comprador do pedido no Mercado Livre.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                message:
                  type: string
                  minLength: 1
              required:
                - message
              x-examples:
                example-1:
                  message: string
        description: Mensagem para o comprador
  /monitorings:
    post:
      summary: /monitorings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    partnerId: string
                    origin: string
                    message: string
                    details: string
                    createdAt: '2019-08-24T14:15:22Z'
                    type: ALERT
                    retryCallbackURL: 'http://example.com'
                    status: PENDING
                properties:
                  partnerId:
                    type: string
                    description: ID do monitoramento - controle no parceiro
                    minLength: 1
                  origin:
                    type: string
                    description: Nome do integrador
                    minLength: 1
                  message:
                    type: string
                    description: Resumo da mensagem de erro
                    minLength: 1
                    maxLength: 500
                  details:
                    type: string
                    description: Detalhes da mensagem de erro
                    minLength: 1
                    maxLength: 4000
                  createdAt:
                    type: string
                    description: Data de entrada do registro
                  type:
                    type: string
                    description: Tipo de monitoramento
                    enum:
                      - ALERT
                      - INTERNAL_ERROR
                      - CRITICAL_ERROR
                  retryCallbackURL:
                    type: string
                    description: URL da API do integrador
                  status:
                    type: string
                    description: Tipo de satus do monitoramento
                    enum:
                      - PENDING
                      - RETRYING
                      - CANCELLED
                      - CONCLUED
              examples:
                example-1:
                  value:
                    partnerId: string
                    origin: string
                    message: string
                    details: string
                    createdAt: string
                    type: string
                    retryCallbackURL: string
                    status: string
      operationId: post-monitorings
      description: |-
        # Cria um registro para monitoração
        Cria um registro para monitoração
      tags:
        - Monitoramento
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitoringPost'
  /orders:
    get:
      tags:
        - Pedido
      summary: /orders
      description: |
        # Consulta Pedidos
        Consulta os detalhes de pedidos

        > A consulta pode ser realizada através de filtros utilizados na query. Caso não seja específicado nenhum filtro, e o retorno possuir mais de 30 mil registros, será utilizado o retorno total de registros **(totalElements)** com valor aproximado, por questões de performance.
      parameters:
        - name: createdAfter
          in: query
          description: Criado a partir de
          required: false
          schema:
            type: string
            format: date-time
            example: '2021-11-25T14:00:00-03:00'
        - name: createdBefore
          in: query
          description: Criado antes de
          required: false
          schema:
            type: string
            format: date-time
            example: '2021-11-25T20:30:00-03:00'
        - name: status
          in: query
          description: Atributo para filtrar pelo status do pedido
          schema:
            type: string
            enum:
              - PENDING
              - DELIVERY_ISSUE
              - PAID_WAITING_SHIP
              - INVOICED
              - PAID_WAITING_DELIVERY
              - CONCLUDED
              - CANCELED
        - $ref: '#/components/parameters/Schemas_MarketplaceQuery'
        - name: marketplaceId
          in: query
          description: Atributo para filtrar pelo ID do Pedido no Marketplace
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Schemas_Offset'
        - $ref: '#/components/parameters/Schemas_Limit'
        - $ref: '#/components/parameters/Schemas_Sort'
        - $ref: '#/components/parameters/Schemas_SortDirection'
        - schema:
            type: string
          in: query
          description: Parâmetro que informa se o atributo  quoteReconciliation será retornado no response
          name: includeQuoteId
      operationId: get-orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_Order'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
              examples:
                Example 1:
                  value:
                    code: '422'
                    message: 'O parâmetro ''%s'' com a data informada ''%s'', está em formato incorreto. Por favor verificar a documentação'
    post:
      summary: /orders
      operationId: post-orders
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              examples:
                example-1:
                  value:
                    id: 0
                    accountName: string
                    marketPlaceId: string
                    marketPlaceNumber: string
                    partnerId: string
                    marketPlace: string
                    subChannel: string
                    subChannelNormalized: string
                    createdAt: '2019-08-24T14:15:22Z'
                    paymentDate: '2019-08-24T14:15:22Z'
                    cancelDate: '2019-08-24T14:15:22Z'
                    shippingOptionId: string
                    transmissionStatus: string
                    status: PENDING
                    marketPlaceStatus: string
                    marketPlaceStatusComplement: string
                    documentIntermediator: string
                    intermediateRegistrationId: string
                    documentPaymentInstitution: string
                    fulfillment: true
                    discount: 0
                    freight: 0
                    interestValue: 0
                    gross: 0
                    total: 0
                    marketPlaceUrl: string
                    marketPlaceShipmentStatus: string
                    invoice:
                      accessKey: string
                      series: string
                      number: string
                      date: '2019-08-24T14:15:22Z'
                      cfop: string
                      companyStateTaxId: string
                      linkNfe: string
                      invoiceLink: string
                      extraDescription: string
                    shipping:
                      city: string
                      state: string
                      stateNameNormalized: string
                      country: string
                      countryAcronymNormalized: string
                      countryNameNormalized: string
                      address: string
                      number: string
                      neighborhood: string
                      street: string
                      comment: string
                      reference: string
                      zipCode: string
                      receiverName: string
                      promisedShippingTime: '2019-08-24T14:15:22Z'
                    billingAddress:
                      city: string
                      state: string
                      stateNameNormalized: string
                      country: string
                      countryAcronymNormalized: string
                      countryNameNormalized: string
                      street: string
                      number: string
                      neighborhood: string
                      comment: string
                      reference: string
                      zipCode: string
                    anymarketAddress:
                      state: string
                      city: string
                      zipCode: string
                      neighborhood: string
                      address: string
                      street: string
                      number: string
                      comment: string
                      reference: string
                      receiverName: string
                      promisedShippingTime: string
                    buyer:
                      marketPlaceId: string
                      name: string
                      email: string
                      document: string
                      documentType: string
                      phone: string
                      cellPhone: string
                      documentNumberNormalized: string
                    payments:
                      - method: string
                        status: string
                        value: 0
                        installments: 0
                        marketplaceId: string
                        gatewayFee: 0
                        marketplaceFee: 0
                        paymentMethodNormalized: string
                        paymentDetailNormalized: string
                    items:
                      - product:
                          id: 0
                          title: string
                        sku:
                          id: 0
                          title: string
                          partnerId: string
                          externalId: string
                          ean: string
                        amount: 0
                        unit: 0
                        gross: 0
                        total: 0
                        discount: 0
                        shippings:
                          - id: 0
                            shippingtype: string
                            shippingCarrierNormalized: string
                            shippingCarrierTypeNormalized: string
                        stocks:
                          - stockLocalId: 0
                            stockName: string
                            amount: 0
                        marketPlaceId: string
                        orderItemId: string
                        idInMarketPlace: string
                        officialStoreId: string
                        officialStoreName: string
                        listingType: string
                        freeShipping: true
                    tracking:
                      url: string
                      number: string
                      carrier: string
                      carrierDocument: string
                      date: '2019-08-24T14:15:22Z'
                      deliveredDate: '2019-08-24T14:15:22Z'
                      estimateDate: '2019-08-24T14:15:22Z'
                      shippedDate: '2019-08-24T14:15:22Z'
                    deliverStatus: UNKNOWN
                    idAccount: 0
                    pickup:
                      id: 0
                      description: string
                      partnerId: 0
                      marketplaceId: string
[...]
